

.editor-container {
  border: 2px solid var(--mantine-color-dark-4);
  border-radius: var(--mantine-radius-sm);
  /* background-color: var(--mantine-color-gray-6); */
}

.toolbar {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  min-height: 32px;
  border-bottom: 2px solid var(--mantine-color-dark-4);

}

.editor-content {
  /* border: 1px solid rgb(163, 108, 25); */
}
.editor-paragraph {
  margin: 0;
}

.command-group {
  display: flex;
  align-items: center;
}

.divider {
  height: 20px;
  /* background-color: rgb(6, 59, 41); */
}
.divider_drop {
  background-color: aqua;
}