.editor-container {
  border: 2px solid var(--mantine-color-dark-4);
  border-radius: var(--mantine-radius-sm);
  /* background-color: var(--mantine-color-gray-6); */
}

.editor-content {
  /* border: 1px solid rgb(163, 108, 25); */
  padding: 5px var(--mantine-spacing-xs);
}
.editor-paragraph {
  margin: 0;
}

.editor-list-ul,
.editor-list-ol {
  margin: 5px 0;
}
