

.command-panel {
  width: 90%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
  min-width: 300px;
}

.amount-selected {
  &:disabled,
  &[data-disabled] {
    color: var(--mantine-color-default-color);
    cursor: auto;
    border-color: var(--mantine-color-default-border);
  }
}