.toolbar {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  min-height: 40px;
  border-bottom: 2px solid #ec6a00;
  padding-bottom: 8px;
  margin-bottom: 16px;
}
.command-group__left {
  display: flex;
  align-items: center;
}
.command-group__right {
  display: flex;
  align-items: center;
}
.card-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
  /* padding-left: 9px; */
}

.command-group__edit-mode {
  display: flex;
  justify-content: space-between;
}


.command-group__input input{
  font-size: var(--mantine-font-size-md);
}