.explorer-item_header {
  display: flex;
  border: 1px solid black;
}
.explorer-item_indent {
  width: 24px;
}

.explorer-item__active {
  border-left: 3px solid rgb(223, 78, 158);
}
.explorer-item__inactive {
  border-left: 3px solid transparent;
}

.explorer-item__select {
  border-left: 3px solid rgb(14, 135, 233);
}
.explorer-item__unselect {
  border-left: 3px solid transparent;
}

.children-list {
  list-style-type: none;
  padding-left: 0;
}
