.editor-container {
  width: 100%;
  border: 2px solid var(--mantine-color-dark-4);
  border-radius: var(--mantine-radius-sm);
  padding: var(--mantine-spacing-xs);

  position: sticky;
  top: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.editor-paragraph {
  margin: 0;
}

.editor-content {
  min-height: 400px;

  flex-grow: 1;
  overflow: auto;
}

.editor-toolbar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
.editor-toolbar__action-icons {
  display: flex;
  gap: 0 5px;
}
.editor-toolbar__buttons {
  display: flex;
  justify-content: space-between;
}