.editor-wrapper {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;

  position: sticky;
  top: 10px;
  height: calc(100vh - 20px);

}

.editor-container {
  width: 100%;
  height: 100%;
  border: 2px solid var(--mantine-color-default-border);
  border-radius: var(--mantine-radius-sm);
  padding: var(--mantine-spacing-xs);
  /* margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px; */


  display: flex;
  flex-direction: column;
}

.editor-paragraph {
  margin: 0;
}

.editor-content-wrapper {
  display: flex;
  position: relative;
  min-height: 400px;

  flex-grow: 1;
}
.editor-content {
  overflow: auto;
  flex-grow: 1;
}

.editor-content-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  /* padding: 5px var(--mantine-spacing-xs); */
  opacity: 0.5;
}

.editor-toolbar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
.editor-toolbar__action-icons {
  display: flex;
  gap: 0 5px;
}
.editor-toolbar__buttons {
  display: flex;
  justify-content: space-between;
}
