.editor-container {
  width: 100%;
  border: 2px solid var(--mantine-color-dark-4);
  border-radius: var(--mantine-radius-sm);
  padding: var(--mantine-spacing-xs);
}

.editor-paragraph {
  margin: 0;
}