.explorer-small {
  max-width: calc(17.5rem * var(--mantine-scale));
  padding: var(--mantine-spacing-xs);
  border: 2px solid var(--mantine-color-default-border);
  width: 100%;

  min-height: 400px;
  /* height: 1px; */
  flex-grow: 1;
}