.operators-page {
  /* display: flex; */
  height: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: calc(5rem * var(--mantine-scale)) 1fr;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.wrap-scroll-btn-sticky {
  position: sticky;
  bottom: 0;
}
.wrap-scroll-btn-relative {
  position: relative;

  @media (min-width: em(1220px)) {
    left: 100px;
  }
  @media (max-width: em(1220px)) {
    right: 70px;
  }
}
